@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(20, 20, 20);
    color: grey;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .h1, a {
    font-family: 'Open Sans', sans-serif;
  }

  a {
    position: relative;
    bottom: 15px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
  }
  